.text {
  margin: 0;
  font-size: 0.9rem;
  color: var(--muted);
  word-break: break-word;
  white-space: pre-wrap;
}

.muted {
  margin: 0;
  font-size: 0.9rem;
  color: var(--muted);
  word-break: break-word;
  white-space: pre-wrap;
  font-style: italic;
}
